.results-container {
  margin: auto;
  max-width: 800px;
  width: 100%;
  border: 2px solid black;
}

.results-block-image {
  margin: 0 auto;
  width: 199px;
  height: 124px;
  background-size: cover;
}

.results-table {
  max-height: 60vh;
  overflow: scroll;
}

.results-table p {
  font-size: larger;
  font-weight: 700;
}

.results-table li {
  font-size: larger;
}

#res-continue-btn {
  display: block;
}
