.start-container {
  margin: 0 auto;
  max-width: 1440px;
  /* height: 100vh; */
  background-image: url('../../../assets/puzzle-background-start.avif');
  padding: 65px;
}

.opacity {
  /* height: 100vh; */
  padding-bottom: 90px;
  background-color: rgb(171 208 199 / 70%);
}

.start-screen-title,
.start-description {
  font-size: 85px;
  color: brown;
  text-align: center;
  margin: 0 auto;
  font-family: 'Cormorant', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 0 35px 56px 35px;
}

.start-description {
  font-size: 28px;
}

.start-screen-greeting {
  padding-top: 95px;
  font-size: 47px;
  color: brown;
  text-align: center;
  margin: 0 auto;
  font-family: 'Cormorant', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.start-screen-greeting span {
  font-weight: 400;
  color: #673ab7;
}

.log-out {
  font-size: 25px;
  font-weight: 600;
  color: darkslategray;
  padding-right: 11px;
  cursor: pointer;
}

.out-field {
  display: flex;
  justify-content: right;
  font-size: 25px;
  font-weight: 600;
  color: darkslategray;
  background-color: rgba(249, 253, 252, 0.3);
  padding: 18px 37px 0 0;
  cursor: pointer;
}

.log-out, .out:hover {
  color: rgb(8, 152, 123);
  text-decoration: underline;
}

.out-pic {
  height: 25px;
  width: 25px;
  background-image: url(/src/assets/log-out.png);
  background-size: contain;
}

.out {
  display: flex;
  cursor: pointer;
}